<ul>
<% @pigs.each do |pig| %>
<li>Pig name<%= link_to pig.name, pig_path(pig) %></li>
<li>Descrition <%= link_to pig.description, pig_path(pig)%></li>
<% end %>
</ul>

<%= link_to 'add a pig', new_pig_path %>
