.btn-blue{
  color: #0a70e0 ;
}

.btn-outline-primary:hover {
  .btn-blue{
    color: white;
  }
}

.pig-logo {
  width: 20px;
  text-align: left;
}

.btn-perso {
  border: 1px solid rgb(239, 121, 138) ;
  border-radius: 7px;
  background-color: rgb(239, 121, 138) ;
  padding: 20px;
  color: rgb(255, 255, 255);
    &:hover{
      color: rgb(239, 121, 138);
      text-decoration: none;
      background-color: transparent;
      border: 1px solid rgb(239, 121, 138) ;
      transition: 0.5s ease-in-out;
    }
}
