@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.carousel-inner {
  height: 500px;
  img{
    object-fit: cover;
    height: 100%;
    opacity: 0.73;
  }
  .carousel-item {
    height: 100%;
  }
}
.title-size {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  color: #EF798A,
}
.p-size {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
