// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "flatpickr/dist/flatpickr";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

body {
  position: relative;
  min-height: 100vh;
}
html {
  min-height: 100vh;
}
.main-body-container {
  padding-bottom: 124px;
}

a {
  color:rgb(255, 143, 161);
  &:hover{
    color:rgb(155, 37, 57);
    text-decoration: none;
  }
}

.card-sticky{
  height: 100vh;
  position: sticky;
  top: 0;
}

.cont{
  margin-left: 5vh;
  margin-right: 5vh;
}

.active > .nav-link {
  color: rgb(245, 122, 143) !important;
}

.active > .nav-link:hover {
  color: rgb(155, 37, 57) !important;
}

.nav-link {
  color: rgb(250, 162, 177) !important;
}

.nav-link:hover {
  color: rgb(155, 37, 57) !important;
}

.label-hidden {
  display: none;
}
i {
  color:rgb(255, 143, 161);
}
.row-right-left {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
